@import "includes";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: lighten($color-purple,30%);
    text-shadow: none;
}

::selection {
    background: lighten($color-purple,30%);
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font-family: 'Helvetica Neue', Helvetica, Arial; 
    font-size: 18px;
    font-weight: 300;
    color: $color-black;
}

.header {
    background: $color-black;
    color: $color-yellow;
    text-align: center;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 10px 0;
    padding: 0;
    text-align: center;
}

nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: $color-white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

nav a:hover,
nav a:active,
nav a:focus {
    outline: none;
    color: $color-yellow;
}

nav {
    .btn {
        border: 2px solid;
        padding: 6px 20px;
        margin-left: 10px;
        border-radius: 2px;
        color: $color-yellow;
        &:hover {
            color: $color-white;
        }
    }
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1, h2, h3 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

a {
    color: $color-purple;
    font-weight: 400;
    text-decoration: none;
    outline: none;
}

.wrapper {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.hero {
    position: relative;
    padding: 50px 0;
    text-align: center;
    background: url(../img/wellington.jpg) center; 
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    color: $color-white;
    h1 {
        padding: 0;
        margin-bottom: 0px;
        font-size: 40px;
        color: $color-yellow;
    }
    h2 {
        margin: 0 0 30px 0;
        font-size: 30px;
        font-weight: 400;
        color: lighten($color-yellow, 30%);
    }
    h3 {
        margin: 5px 0;
        font-weight: 400;
    }
    .photo-cred {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: lighten($color-purple,10%);
        font-size: 0.5em;
        a {
            color: lighten($color-purple,10%);
        }
    }
}

.register {
    margin: 180px 0 20px 0;
    position: relative;
    .btn {
        position: relative;
        display: block;
        width: 80%;
        margin: 0 auto;
        padding: 14px 30px;
        color: $color-black;
        background: $color-yellow;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 26px;
        font-weight: 500;
        z-index: 1;
        border-radius: 2px;
        &:hover {
            background: $color-white;

        }
    }
    img {
        position: absolute;
        right: 60px;
        bottom: 40px;
        width: 220px;
    }
}

.wiad-link {
    position: absolute;
    top: 0;
    left: 30px;
    width: 100px;
    transform: translateY(-200px);
    -webkit-animation: slideIn 1s 3s ease-in-out forwards;
    z-index: 1;
    box-shadow: 4px 5px 0 0 transparentize($color-black, 0.95);
    img {
        width: 100%;
    }
}

@-webkit-keyframes slideIn{
    from {
        transform: translateY(-200px);
    }
    to {
        transform: translateY(0);
    }
}

.more-arrow {
    font-size: 26px;
}

.section {
    padding: 40px 0;
    .section-title {
        color: $color-purple;
    }
    a:not(".more-arrow") {
        border-bottom: 1px solid;
        transition: all 100ms;
        &:hover {
            border-bottom: 2px solid;
            padding-bottom: 2px;
        }
    }
}

.section-grey {
    background: #EEE;
}

.section-yellow {
    background: $color-yellow;
    color: $color-black;
    .section-title {
        color: $color-black;
    }
}

.section-black {
    background: $color-black;
    color: $color-white;
    .section-title {
        color: $color-yellow;
    }
    a {
        color: $color-yellow;
    }
}

.section-title {
    font-size: 2em;
}

i.section-icon {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    background: #666;
    color: $color-yellow;
    border-radius: 50%;
}

.lead {
    font-size: 1.5em;
    line-height: 130%;
}

.text-center {
    text-align: center;
}

.sponsor-premium i {
    color: $color-purple;
}

.sponsor-gold i {
    color: $color-yellow;
}

.sponsor-silver i {
    color: #CCC;
}

.sponsor {
    margin: 20px 0;
    vertical-align: middle;
    h3 i {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
    }
    ul {
        padding: 0 0 0 20px;
        font-size: 0.9em;
    }
    &.last {
        margin-right: 0;
    }
}

.speaker {
    margin: 30px 0;
    h3 {
        .subtitle {
            font-size: 0.9em;
            font-weight: 400;
            color: #CCC;
        }
    }
}

.profile-pic {
    display: block;
    width: 120px;
    margin: 0 auto;
    img {
        width: 100%;
        margin: 20px 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
}

.profile-desc {
    font-weight: 200;
}

.sponsor-logo {
    width: 80%;
    margin: 0 10%;
}

.sponsor-you {
    position: relative;
    top: 40px;
    transform: scale(1.6);
}

.social {
    margin: 40px 0;
    text-align: center;
    a {
        position: relative;
        margin: 0 20px;
        font-size: 50px;
        color: $color-black;
        border: none;
        &:hover {
            color: $color-purple;
        }
    }
}

.mc-form {
    label {
        display: block;
        margin-right: 5px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    input {
        width: 100%;
        font-size: 20px;
        border: none;
        outline: none;
        border: 2px solid lighten($color-yellow, 30%);
        &.email {
            position: relative;
            padding: 10px;
            margin-bottom: 10px;
            background: lighten($color-yellow, 30%);
            transition: all 300ms;
            &:focus {
                background: $color-white;
                border-bottom-color: $color-purple;
            }
        }
        &.button {
            padding: 10px 20px; 
            background: none;
            border: 2px solid;
            &:hover,
            &:focus,
            &:active {
                color: $color-purple;
            }
        }
    }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

    .sponsor-logo {
        width: 30%;
        margin: 0 1.5%;
        float: left;
    }

    .hero {
        h1 {
            font-size: 50px;

        }
        h2 {
            font-size: 36px;
        }
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline-block;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

    .wiad-link {
        position: fixed;
        top: auto;
    }

    .register {
        .btn {
            display: inline-block;
            width: auto;
        }
        img {
            bottom: 10px;
        }
    }

    .sponsor {
        float: left;
        width: 30%;
        margin-right: 5%;
    }

    .profile-pic {
        width: 20%;
        float: left;
    }

    .profile-desc {
        width: 75%;
        float: right;
        margin-left: 5%;
        h3 {
            text-align: left;
        }
    }

    .mc-form {
        text-align: center;
        label {
            display: inline;
        }
        input {
            width: auto;
            &.email {
                width: 50%;
            }
        }
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 100%;
    }
}

@media only screen and (min-width: 1140px) {

    .wrapper {
        width: 820px;
        margin: 0 auto;
    }

    .hero {
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}